**************************************
*                                    *
* DRILL TAPE SUMMARY REPORT          *
*                                    *
* C:\CAINPCB\ECBOT\V5\ECBOTCPU5.MAX  *
* Mon Jan 31 06:34:53 2011           *
*                                    *
**************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      575      200      100                                                                                 
T2       236      24       200      100                                                                                 
T3       315      44       200      100                                                                                 
T4       340      10       200      100                                                                                 
T5       370      13       200      100                                                                                 
T6       380      12       200      100                                                                                 
T7       512      2        200      100                                                                                 
T8       827      2        200      100                                                                                 
T9       1181     3        200      100                                                                                 
