*********************************************
*                                           *
* DRILL TAPE SUMMARY REPORT                 *
*                                           *
* C:\CAINPCB\TELEM_SARURO\TELEM_SARURO.MAX  *
* Sat Sep 15 07:24:39 2012                  *
*                                           *
*********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      484      200      100                                                                                 
T2       340      19       200      100                                                                                 
T3       370      132      200      100                                                                                 
T4       380      2        200      100                                                                                 
T5       394      8        200      100                                                                                 
T6       417      2        200      100                                                                                 
T7       420      16       200      100                                                                                 
T8       531      2        200      100                                                                                 
T9       630      2        200      100                                                                                 
T10      1100     7        200      100                                                                                 
T11      1250     2        200      100                                                                                 
